PySide6==6.7.2
pyqtgraph==0.13.6
PyOpenGL==3.1.7
PyOpenGL-accelerate==3.1.7
numpy==1.26.4
scipy==1.13.1
numpy-stl==3.1.1
pyvista==0.46.4
vtk==9.2.6
open3d==0.18.0
trimesh==4.10.0
pandas==2.2.2
matplotlib==3.9.0
scikit-learn==1.5.0
plotly==6.5.0
tqdm==4.66.4